@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    background-image: url(my-img-11.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

.head-main {
    transition: ease-in-out 0.3s;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 100;
    overflow-y: auto;
    text-align: left;
}

.h1-div>h1 {
    font-size: 48px;
    font-weight: 700;
}

.h2-div>h2 {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.8);
    margin-top: 20px;
    font-weight: 400;
}

.h2-div>h2>span {
    color: white;
    border-bottom: 2px solid #18d26e;
    padding-bottom: 3px;
}

.menu {
    display: none;
}

.nav-div {
    margin-top: 30px;
}

#ul-item {
    padding: 0px;
}

.nav-btn-all {
    font-weight: 500;
    margin: 0px 40px 0px 0px;
    color: rgba(255, 255, 255, 0.8);
}

.nav-btn-all:hover {
    color: white;
    border-bottom: 2px solid #18d26e;
}

.social-links {
    margin-top: 45px;
}

.social-icon {
    font-size: 20px;
    vertical-align: -4px;
    color: white;
}

.social-a {
    margin: 3px;
    border-radius: 100%;
    padding: 11px 12px;
    background-color: rgba(255, 255, 255, 0.1);
}

.social-a:hover {
    background-color: #18d26e;
}

/* -------------------about-start-------------------------- */

.about-me {
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.877);
}

.about-section-title h6 {
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.8);
}

.about-section-title h6::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #4ceb95;
    margin: 4px 10px;
}

.about-section-title h1 {
    font-weight: 700;
    font-size: 40px;
}

#ul-li-item-1 ul li {
    margin: 15px 0px;
}

#ul-li-item-1 ul li span {
    font-weight: 700;
    letter-spacing: 1px;
    margin-right: 5px;
}

.arrow-icon {
    font-size: 30px;
    vertical-align: -7px;
    color: #4ceb95;

}

#exp-main-div {
    justify-content: center;
    margin-top: 50px;
}

#exp-div {
    background-color: #bcbcbc21;
    text-align: center;
    margin: 10px;
    padding: 2px 0px;
    color: white;
}

.exp-icon-div {
    color: #18d26e;
    position: relative;
    bottom: 30px;
    left: 38%;
    right: 50%;
    font-size: 32px;
    background-color: #e9e9e90d;
    width: 53px;
    padding: 3px 0px;
    border-radius: 50%;
}

.exp-icon-div-3 {
    color: #18d26e;
    position: relative;
    bottom: 30px;
    left: 42%;
    right: 50%;
    font-size: 32px;
    background-color: #e9e9e90d;
    width: 53px;
    padding: 3px 0px;
    border-radius: 50%;
}


.skills-div h6 {
    margin-top: 50PX;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.8);
}

.skills-div h6::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #4ceb95;
    margin: 4px 10px;
}

.progress-bar-main-div {
    width: 100%;
    margin-top: 15px;
}

#progress-bar-div-id {
    background-color: rgb(78, 78, 78);
    height: 10px;
    border-radius: 0px;
}

#progress-bar-id {
    background-color: #18d26e;
}

#progress-bar-text h6 {
    font-size: 14px;
    margin-top: 10px;
}



/* -------------Resume-------Start------------------------------------------------ */

.resume-my {
    margin-top: 70px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.877);
}


.resume-main-title h6 {
    margin-top: 20PX;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.8);
}

.resume-main-title h6::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #4ceb95;
    margin: 4px 10px;
}

.resume-main-title h1 {
    font-weight: 700;
    font-size: 40px;
}

.resume-title {
    margin-top: 25px;
}

.resume-1 {
    border-left: 2px solid rgb(117, 115, 115);
    padding: 0px 0px 20px 20px;
    margin-top: -2px;
    padding-top: 0px;
    position: relative;
}


.resume-1::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    background: #18d26e;
    border: 2px solid #18d26e;
    left: -9px;
    top: 0px;
}

.alice {
    font-size: 20px;
    color: #18d26e;
    font-weight: 700;
}

.year {
    font-size: 16px;
    background: rgba(255, 255, 255, 0.15);
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}

.li-12 {
    list-style: disc;
}




/* -----------media q-------------------------------------------------- */

@media (max-width: 992px) {
    .exp-icon-div-3 {
        left: 38%;
        right: 50%;
    }

    .exp-icon-div {
        left: 38%;
        right: 50%;
    }
}

@media (max-width: 767px) {

    .head-main {
        text-align: center;
    }

    .menu {
        font-size: 28px;
        display: inline-block;
        position: absolute;
        top: 5px;
        right: 30px;
    }

    .nav-div {
        display: none;
    }

    .exp-icon-div-3 {
        left: 45%;
        right: 50%;
    }

    .exp-icon-div {
        left: 45%;
        right: 50%;
    }
}